
.locationContainer{
    width: 100%;
    height: 35px;
    text-align: left;
    padding-left: 10px;
    color: #888;
    overflow: hidden;
}

.locationContainer h1 {
    margin: 0;
    white-space: nowrap;
}

.weatherLocationContainer{
    width: calc(100% - 20px);
    padding: 25px;
    margin-right: 10px;
    margin-left: 10px;
    min-width: 350px;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
    box-shadow: 10px 10px 40px -12px rgba(0,0,0,0.75);
    cursor: pointer;
}

.forecast-title{
    color:white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;

}