.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.details{
  background: #999;
  height: 85vh;
  width: calc(100% - 40px);
  margin-top: 20px;
  overflow: auto;
  padding-right: 20px;
  padding-left: 20px;

}

.paper{
  width: 98%;
}

.grid{
  box-shadow: 10px 10px 40px -12px rgba(0,0,0,0.75);
}

.title-forecast{
  text-align: center;
  margin-top: 10px;
  padding-top: 10px;
  font-size: x-large;
}

.forecast-extended{
  color: white;
}

@media (max-width: 64em){
  .details {
    height: 50vh;
  }
}
